# 程序监听地址和端口
HOST=0.0.0.0
PORT=9889

# 密钥（越复杂越好）
JWT_SECRET=demo_jwt_secret
JWT_ACCESS_EXPIRES_SECONDS=7200
JWT_REFRESH_EXPIRES_SECONDS=2592000

# MySQL数据库配置
DATABASE_URL="mysql://root:123456@127.0.0.1:3306/moment"
